body {
    background-color: rgb(36, 28, 85);
    background-image: url(achtergrondgamestars.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav a {
      color:white;
  }

  li {
      float: left;
      padding: 1vh 1vw;
      font-size: 2rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }